*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Helvetica;
}

#container{ 
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.8)),url(media/image2.png);
}

nav{
    background-color: #181929;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 20px; 
    margin-bottom: 2.5em;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li{
    margin-left: 10px;
    color: aliceblue;
}

a{
    padding: 24.5px 10px 24.5px 10px;
    text-decoration: none;
    color: aliceblue;
}

#btnArt{
    background-color: aqua;
    color: black;
    padding: 24.5px 20px 24.5px 20px;
}

a:hover{
    background-color: aqua;
    color: black;
}

#logo{
    color: rgb(146, 204, 255);
}

.toptxt{
    color: rgb(0, 255, 255);
}

.middletxt{
    font-size: 5em;
    color: aliceblue;
}

.btmtxt{
    font-size: 13.5px;
    width: 50%;
    color: white;
    text-align: justify;
}

#introbody{
    margin-left: 2.5em;
    margin-right: 2.5em;
    display: flex;
}

#profilepic{
    margin: 0;
    padding: 0;
    height: 30em;
    width: 23em;
    border-radius: 2em;
}

/* ------- Main ------ */

#main{
    background-color: #181929;
    max-width: 100%;
    min-height: 40em;
}
